Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% comment %} You're receiving this email because you requested a password reset for your user account at 127.0.0.1:8000.

Please go to the following page and choose a new password:

http://127.0.0.1:8000/accounts/reset/MQ/5nx-f8b768f05302c8c50581/

Your username, in case you’ve forgotten: nicole

Thanks for using our site!

The 127.0.0.1:8000 team {% endcomment %}