{% extends 'base.html' %}

{% block content %}
  <h1>CAPTURANDO IMAGENS</h1>

  <div class="divisoes">

    <div class="divisao-camera">
      <div class="espaco-entre">
          <h2>Exibicao</h2>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            <h5>configuracao</h5>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Configuracoes de Camera</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <h5>Modo</h5>
                    <select class="form-control">
                      <option>Camera Integrada</option>
                      <option>Video</option>
                      <option>Imagens</option>
                      <option>Camera IP</option>
                    </select>
                    <br/>
                    <div class="form-group">
                      <label for="inputAddress"><h5>Endereco</h5></label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="Digite o link aqui">
                    </div>

                    <div class="botoes">
                      <button class="btn btn-danger">CANCELAR</button>
                      <button class="btn btn-primary">APLICAR</button>
                      <button class="btn btn-primary" id="salvar-btn">SALVAR</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

      </div>
      <video autoplay="true" id="videoElement"></video>
      <div class="botoes">
        <button class="btn btn-primary">CAPTURAR</button>
        <button class="btn btn-secondary">RODAR MODELO</button>
      </div>
    </div>

    <div class="divisao-imagens-capturadas">
      <h2>Imagens Capturadas</h2>
      <img src="https://sm.ign.com/t/ign_pt/articlepage/h/how-to-cou/how-to-counter-scorpion-in-mortal-kombat-x_1hqd.1280.jpg" alt="">
      <div class="modelo">
        <h2>Modelo</h2>
        <div class="botoes">
          <button class="btn btn-secondary">TREINAR</button>
          <button class="btn btn-primary">BAIXAR</button>
        </div>
      </div>
    </div>

    <div class="rotulacao">
      <h2>Rotulacao</h2>
      <form action="">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Linhas de Grid
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Aplicacao Geral
          </label>
        </div>
      </form>
      <br/>
      <img src="https://sm.ign.com/t/ign_pt/articlepage/h/how-to-cou/how-to-counter-scorpion-in-mortal-kombat-x_1hqd.1280.jpg" alt="">
      <div class="botoes_coloridos">
        <button type="button" id="branco"></button>
        <button type="button" id="azul"></button>
        <button type="button" id="vermelho"></button>
        <button type="button" id="verde"></button>
        <button type="button" id="amarelo"></button>
      </div>
      <div class="botoes">
        <button class="btn btn-primary">PREENCHER IMAGENS</button>
        <button class="btn btn-secondary">APLICAR A TODOS</button>
        <button class="btn btn-danger">EXCLUIR</button>
      </div>
    </div>
  </div>

{% endblock %}